.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 769px;
  }
}

@media (max-width: 769px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
}
